<div class="w-full relative">
    <img 
    class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto animate-ease-in-out animate-fade animate-duration-1000"
    src="/logo-home.svg" 
    alt="Esland - premios a la comunidad hispanohablante de Streaming">
    <video 
    class="w-full h-screen object-cover object-top" 
    src="/public_video.webm" 
    loop 
    autoplay 
    muted 
    style="clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);"
    ></video>
    <video 
        class="absolute -bottom-48 blur-3xl -z-40"
        src="/public_video.webm" 
        loop 
        autoplay 
        muted
    ></video>
</div>